# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?

# Heavy Test Files (GitHub blocks files > 100MB)
*.apk
*.xapk
